header{
    background-image: url('https://wallpapercave.com/wp/wp2960693.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px
    
}
h1.text_cen{
color: rgb(63, 206, 172);
padding-top: 70px;
text-align: center;
}
table{
    border: solid 1pt rgb(3, 0, 8);
}  
table,th,tr,td{
    text-align: center;
} 
table.center{
    margin-left: auto;
    margin-right: auto;
}
h2.text_cen{
    color: rgb(229, 17, 17);
}
th,td{
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}
th{
    background-color: rgb(0, 0, 7);
    color: aliceblue;
}
tr.color{ background-color: rgb(194, 202, 32);
    color: rgb(21, 21, 21);
}
div.footer{
    position: relative;
    background-color: rgb(106, 93, 158);
    height: 80px;
    clear: both;
    padding: 10px 20px;
}
h3.text_cen{
    text-align: center;
}
h4{
    text-align: center;
    font-style: italic;
}   